html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
}
.App {
  text-align: center;
}

.hero {
  min-height: 100vh;
  filter: brightness(70%);
  background-image: url('https://images.unsplash.com/photo-1531970227416-f0cddeb1f748?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  height: 400px;
}

#projects {
  background-color: #05453b;
  color: white;
}

input {
  color: white !important;
}

.App-header {
}

.App-link {
  color: #61dafb;
}
